

.btns {
    position: absolute;
    top: 4px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    width: 25%;
   }

   button {
    border: none;
    outline: none;
   }

   button:hover{
    cursor: pointer;
    outline: cornsilk;
   }

